.welcomeN{
  font-family: 'Chonburi', cursive;
  font-weight: bold;
  color: white;
  background-image: url('../pictures/techPic.png');
  height: 600px;
  text-shadow: 3px 3px black;
  /* margin-top: -90 */
}