.welcomeN{
  font-family: 'Chonburi', cursive;
  font-weight: bold;
  color: white;
  background-image: url('../homepage/pictures/pic70.jpg');
  height: 600px;
  text-shadow: 3px 3px black;

  /* margin-top: -90 */
}

.welc {
  font-size: 20px;
}

.cJtron{
  padding-top: 120px;
  /* height: 820px; */
  /* padding-bottom: 300px; */
  /* max-width: 100%; */
  z-index: 0;
}

.footNav{
  background-image: linear-gradient(to right, rgb(192, 207, 207), rgb(173, 173, 173), rgb(80, 82, 82));
  height: 100px;
  margin-top: -35px;
  text-align: center;
  /*animation*/
  /* animation-name: example;
  animation: example 5s infinite; */
  /* fixes the bottom issue */
  margin-bottom: -1px;
}

.footNav {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.footNav span {
  display: inline-block;
  padding-left: 100%;
  animation: footNav 35s linear infinite;
}

/* Make it move */
@keyframes footNav {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

/* Standard syntax */
/* @keyframes example {
  0% {background-image: linear-gradient(to right, rgb(192, 207, 207), rgb(0, 190, 190), teal)}
  10% {background-image: linear-gradient(to right, rgb(0, 190, 190), rgb(192, 207, 207), teal)}
  20% {background-image: linear-gradient(to right, rgb(0, 190, 190), teal, rgb(192, 207, 207))}
  30% {background-image: linear-gradient(to right, rgb(192, 207, 207), rgb(0, 190, 190), teal)}
  40% {background-image: linear-gradient(to right, rgb(0, 190, 190), rgb(192, 207, 207), teal)}
  50% {background-image: linear-gradient(to right, rgb(0, 190, 190), teal, rgb(192, 207, 207))}
  60% {background-image: linear-gradient(to right, rgb(192, 207, 207), rgb(0, 190, 190), teal)}
  70% {background-image: linear-gradient(to right, rgb(0, 190, 190), rgb(192, 207, 207), teal)}
  80% {background-image: linear-gradient(to right, rgb(0, 190, 190), teal, rgb(192, 207, 207))}
} */