
.sidenav{
  background-color: rgb(196, 196, 196);
  margin-top:65px;
  height: 340px;
  border-bottom: solid 3px teal;
  border-right: solid 3px teal;
  text-align: center;
  text-shadow: 1px 1px white;
  font-family: 'Chonburi', cursive;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0px 20px 120px 0px;
  }

  .sideNav:hover{
    color: teal;
    text-shadow: 1px 1px teal;
  }
/* 
#swiperr{
} */