

.jHin{
    font-family: 'Chonburi', cursive;
    font-weight: bold;
    color: rgb(32, 32, 32);
}

h1{
    text-align: center;
}

.homeJtron{
    padding-top: 100px;
    height: 1500px;
    background-image: url('./pictures/picOne.jpg');
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    
    /* background-image: url("pictures/skyex.jpg"); */
}

.btn1{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 240px;
    height: 40px;
    padding-top:2px;

    background-image: linear-gradient(to right, green , rgb(0, 180, 0), rgb(0, 224, 0));
    text-align: center;
    font-weight: bold;
}

.btn1:hover{
    /* background-image: linear-gradient(to right, green , rgb(0, 180, 0), rgb(0, 224, 0)); */
    background-image: linear-gradient(to right, rgb(0, 224, 0), green, rgb(0, 180, 0));
    color: white;
}

li{
    font-size: 16px;
}